footer{
    display: block;
    height: 500px;
    width: 100%;
    background-color: #19132a;
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
}

.contentFooter{
    display: flex;
    justify-content:left;
    padding-left: 10%;
    padding-right: 7%;
    padding-bottom: 60px;
}

.textSubTitleFooter{
    color: #effbee;
    display: flex;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    justify-content: left;
    text-align: start;

    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #effbee;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
}

.contentFooter p, .contentFooter a{
    color: #effbee;
    display: flex;
    font-size: 25px;
    margin: 50px 0;
    /* padding-bottom: 30px; */
    /* padding-left: 2%; */
    font-weight: lighter;
    text-align: left;
}

.contentFooterLeft{
    width: 360px;
    display: block;
    margin-right: 3%;
}

.contentFooterRight{
    width: 100%;
    display: block;
    margin-right: 2%;
}

#linkedinLink{
    text-decoration: none;
    color: rgb(199, 199, 255);;
}

#linkedinText{
    transition-duration: 0.3s;
}

#linkedinText:hover{
    color: #c7c7ffda;
    transition-duration: 0.3s;
}

/* - - - - -RESPONSIVE - - - - - - -*/
/* - - - - - RESPONSIVE - - - - - - */
/* - - - - - -RESPONSIVE - - - - - -*/
/* - - - - - - RESPONSIVE - - - - - */
/* - - - - - - -RESPONSIVE - - - - -*/
/* - - - - - - - RESPONSIVE - - - - */

#fcontent2{
    display: none;
}
@media screen and (max-width: 600px){
    footer{
        height: fit-content;
    }
    #contactMeSection{
        padding-bottom: 20px;
    }
    #fcontent1{
        display: none;
    }
    #fcontent2{
        display: block;
    }
    .contentFooter p, .contentFooter a{
        color: #effbee;
        display: flex;
        font-size: 20px;
        margin: 10px 0;
        font-weight: lighter;
        text-align: left;
    }
    .contentFooter > div{
        margin: 40px 0;
    }
    .contentFooter > div > *:last-child{
        margin-left: 20px;
    }
}