#laptop{
	height: 160px;
  	width: 220px;
  	position: absolute;
  	background-color: #c0c0c0;
  	border-radius: 8% 8% 10% 10%;
  	margin-left: 50%;
	top: 25vh;
}
  
#laptop:before{
	content: "";
  	position: absolute;
  	height: 18px;
  	width: 220px;
  	background-color: #363636;
  	border-radius: 0% 0% 30% 30%;
  	top: 144px;
  	box-shadow: 1px -10px 0 -7px #000000;
}
  
#screenOff{
  	height: 120px;
  	width: 210px;
  	position: absolute;
  	margin-left: 5px;
  	margin-top: 14px;
  	background-color: #1d1d1de7;
  	border-radius: 6px;
}

#screenOn{
	display: flex;
	position: absolute;
	height: 120px;
	width: 210px;

	margin-left: 5px;
	margin-top: 14px;
	background-color: rgba(240, 240, 240, 0);
	border-radius: 6px;
	
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	text-align: center;
	color: rgba(0, 0, 0, 0);
	transition-duration: 0.3s;
}

#shrug{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition-duration: 0.1s;
}

#screenOn:hover{
	height: 120px;
	width: 210px;
	position: absolute;
	margin-left: 5px;
	margin-top: 14px;
	background-color: #effbee;
	border-radius: 6px;
	box-shadow: 0 0 500px 30px rgba(255, 255, 255, 0.856);

	font-family: 'Lato', sans-serif;
	font-size: 40px;
	text-align: center;
	color: rgba(0, 0, 0, 0.308);

	transition-duration: 0.4s;
}
  
#camera{
	height: 4px;
	width: 4px;
	position: absolute;
	margin-left: 107px;
	margin-top: 5.2px;
	background-color: #000000;
	border-radius: 50%;
	box-shadow: 0 0 0 3.5px #272727;
}
#cameraHitBox{
	display: flex;
	position: absolute;
	background-color: rgba(255, 255, 255, 0);
	height: 17px;
	width: 17px;
	left: -6.59px;
	top: -6.59px;
	border-radius: 50%;

	/* visibility: hidden; */
}

#band{
	display: flex;
	position: absolute;
	height: 9px;
	width: 40px;
	background-color: rgb(252, 174, 180);
	border-radius: 5px;
	
	top: -2.5px;
	left: -18px;
	
	visibility: hidden;
}
#band2{
	display: flex;
	position: absolute;
	height: 6.5px;
	width: 16px;
	background-color: rgb(248, 215, 218);
	border-radius: 1.5px;

	top: 1px;
	left: 12px;

	visibility: hidden;
}
#camera:active #band{
	visibility: initial;
}
#camera:active #band2{
	visibility: initial;
}

@media screen and (max-width: 860px){
	#laptop{
		margin-left: 60%;
	}
}