html{scroll-behavior: smooth}

body{
    margin: 0px;
    background-color: #100e1a;
}

a{
    display: block;
    text-decoration: none;
}

#banner{
    display: flex;
    background-color: #19132a;
    height: 600px;
    align-items: center;
    padding-left: 12%;
    padding-bottom: 100px;
}

title{
    display: flex;
    align-items: center;
}

#bannerTitle{
    display: block;
    font-family: 'Lato', sans-serif;
    color: #effbee;
    text-align: left;
    font-size: 70px;
    font-weight:bold;
    transition-duration: 0.3s;
}

#bannerTitle:hover{
    font-size: 80px;
    color: rgb(199, 199, 255);
    transition-duration: 0.3s;
}

#lightCont1{
    position: absolute;
    top: 650px;
    left: 44%;
}
#bajaMasText{
    color: rgba(255, 255, 255, 0.185);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

main{
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 10%;
    padding-right: 11%;
}
.contentLeft{
    display: flex;
    justify-content:start;
    align-items: center;
    width: 50%;
    
}
.contentRight{
    display:flex;
    justify-content:end;
    align-items: center;
    width: 50%;
}

.contentLine{
    display: flex;
    justify-content: center;
    padding-left: 6%;
    padding-right: 7%;
    padding-top: 80px;
    padding-bottom: 130px;
    scroll-margin-top: 17ex;
}

.textRegular{
    color: #effbee;
    display: flex;
    font-size: 30px;
    transition-duration: 0.3s;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-align: center;
}
.textRegular:hover{
    color: rgb(199, 199, 255);
    transition-duration: 0.3s;
}

.textRed{
    display: flex;
    color: rgb(199, 62, 62);
}


.textSubTitle{
    color: #effbee;
    display: flex;
    font-size: 40px;
    transition-duration: 0.3s;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    text-align: center;
}

.img1{
    display: flex;
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.img1:hover{
    width: 320px;
    height: 320px;
    transition-duration: 0.3s;
    box-shadow: 0 0 150px 0px rgba(255, 255, 255, 0.322);
}

#lightCont2{
    justify-content: center;
    display: flex;
    top: 650px;
    left: 44%;
    color: rgba(255, 255, 255, 0.185);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#gotoTopCont{
    display: flex;
    justify-content: end;
    margin-right: 60px;
    bottom: 100%;
    position:relative;
}

.gotoTop{
    align-items: center;
    justify-content: center;
    color: #effbee;
    font-size: 25px;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: #effbee;
    border-width: 2px;
    border-style: solid;
    
    margin-bottom: 30px;

    transition-duration: 0.2s;
}
.gotoTop:hover{
    background-color: #c7c7ff1a;
    border-color: #c7c7ffde;
    transition-duration: 0.2s;
    box-shadow: 0 0 60px -10px #c7c7ffda;
}

