/* CLASES */
.color-white{
    color: #effbee;
}
.color-word{
    display: inline-flex;
    transition-duration: 0.1s;
}
p:hover > .hover-green{
    color: rgb(73, 156, 73);
    display: inline-flex;
    transition-duration: 0.2s;
}
*:hover > .hover-white{
    color: #effbee;
    transition-duration: 0.1s;
}
*:hover > .hover-yellow{
    color: #dbff59;
    transition-duration: 0.1s;
}
*:hover > .hover-red{
    color: #f75555;
    transition-duration: 0.2s;
}
*:hover > .hover-blue{
    color: #667ee7;
    transition-duration: 0.2s;
}

div > .shiny-text{
    transition-duration: 0.1s;
}
div:hover > .shiny-text{
    text-shadow: 0 0 20px white;
    transition-duration: 0.1s;
}

html{scroll-behavior: smooth}

body{
    margin: 0px;
    background-color: #100e1a;
    font-family: 'Lato', sans-serif;

}

a{
    display: block;
    text-decoration: none;
}

#banner{
    display: flex;
    background-color: #19132a;
    height: 85vh;
    justify-content: center;
    width: 100%;
    /* padding-bottom: 100px; */
    /* background-color: rgba(255, 255, 255, 0.171); */
}
#bannerContent{
    width: 78%;
    margin-top: 25vh;
    height: fit-content;
    /* background-color: rgba(255, 255, 255, 0.171); */

}
#title{
    height: fit-content;
    /* background-color: rgba(255, 255, 255, 0.541); */
}

#bannerTitle{
    display: block;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #effbee;
    text-align: left;
    font-size: 70px;
    font-weight:bold;
    transition-duration: 0.3s;
}

#bannerTitle:hover{
    font-size: 80px;
    color: rgb(199, 199, 255);
    transition-duration: 0.3s;
    letter-spacing: 3px;
}

#lightCont1{
    position: relative;
    text-align: center;
    top: -60px;

}
#bajaMasText{
    color: rgba(255, 255, 255, 0.185);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/* - - - - - - BANNER - - - - - - */
/*  - - - - - - BODY - - - - - -  */

main{
    padding-top: 50px;
    padding-bottom: 40px;
    margin-left: 10vw;
    margin-right: 10vw;
}
.contentLeft{
    display: flex;
    justify-content:start;
    align-items: center;
    width: 50%;
    
}
.contentRight{
    display:flex;
    justify-content:end;
    align-items: center;
    width: 50%;
}

.contentLine{
    display: flex;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 7%;

    height: 290px;
    scroll-margin-top: 17ex;
}

.textRegular{
    color: #effbee;
    display: block;
    font-size: 30px;
    transition-duration: 0.2s;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-align: center;
}
.textRegular:hover{
    color: rgb(199, 199, 255);
    transition-duration: 0.2s;
}

.textRed{
    display: flex;
    color: rgb(199, 62, 62);
}


.textSubTitle{
    color: #effbee;
    display: flex;
    margin: 100px 0 50px 0;
    font-size: 40px;
    transition-duration: 0.3s;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    justify-content: center;
    text-align: center;
}

.img1{
    display: flex;
    position: static;
    width: 280px;
    height: 280px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.img1:hover{
    width: 320px;
    height: 320px;
    transition-duration: 0.3s;
    box-shadow: 0 0 150px 0px rgba(255, 255, 255, 0.322);
}

#lightCont2{
    justify-content: center;
    display: flex;
    top: 650px;
    left: 44%;
    color: rgba(255, 255, 255, 0.185);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.skill-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 4rem;
    justify-content: space-around;
    align-items: center;
}
.skill-grid > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.skill-grid > div > img{
    height: 8rem;
}

#gotoTopCont{
    display: flex;
    justify-content: end;
    margin-right: 60px;
    bottom: 100%;
    position:relative;
}

.gotoTop{
    align-items: center;
    justify-content: center;
    color: #effbee;
    font-size: 25px;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: #effbee;
    border-width: 2px;
    border-style: solid;
    
    margin-bottom: 30px;

    transition-duration: 0.2s;
}
.gotoTop:hover{
    background-color: #c7c7ff1a;
    border-color: #c7c7ffde;
    transition-duration: 0.2s;
    box-shadow: 0 0 60px -10px #c7c7ffda;
}


/* - - - - -RESPONSIVE - - - - - - -*/
/* - - - - - RESPONSIVE - - - - - - */
/* - - - - - -RESPONSIVE - - - - - -*/
/* - - - - - - RESPONSIVE - - - - - */
/* - - - - - - -RESPONSIVE - - - - -*/
/* - - - - - - - RESPONSIVE - - - - */


/* 700px */
@media screen and (max-width: 700px){
    
    #bannerContent{
        display: block;
        width: 100%;
        
    }
    #title{
        display: block;
        width: 100%;
    }
    #title > h1{
        font-size: 60px;

    }
    #title > h1{
        text-align: center;
    }
    nav{
        width: 100% !important;
        justify-content: center;
    }

    #laptop{
        display: none;
    }
    
    main{
        padding-top: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contentLine{
        display: block;
        width: 100%;
        height: fit-content;
        padding-left: 0;
        padding-right: 0;

    }

    .contentLine > div{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .contentLine > div p{
        width: 90%;
    }

    #aboutMeSection > .contentLeft{
        margin-bottom: 30px;
    }
}

/* 485px */
@media screen and (max-width: 485px){
    #banner{
        height: fit-content;
    }
    #bannerContent{
        margin-top: 15vh;
        width: 90%;
    }
    #title{
        margin-bottom: 10vh;
    }
    #title > h1:first-child{
        font-size: 70px;
    }
    #title > h1:last-child{
        font-size: 40px;
    }
    #bannerTitle:hover{
        font-size: inherit;
        color: rgb(199, 199, 255);
        letter-spacing: 0px;
        transition-duration: 0.3s;
    }
}

/* 860px */
@media screen and (max-width: 860px){
    main{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #bannerContent{
        width: 85%;
    }
}